/*==================================*/
/*============ Fonts ===============*/
/*==================================*/

@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Thin.otf"); font-weight: 100 ; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-ExtraLight.otf"); font-weight: 200 ; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Light.otf"); font-weight: 300 ; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Regular.otf"); font-weight: 400 ; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Medium.otf"); font-weight: 500; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-SemiBold.otf"); font-weight: 600; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Bold.otf"); font-weight: 700; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-ExtraBold.otf"); font-weight: 800; font-style: normal}
@font-face{font-family: 'Raleway'; src: url("../fonts/raleway/Raleway-Heavy.otf"); font-weight: 900; font-style: normal}

body{font-family:'Raleway',sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;cursor:default;font-size:14px;}

/*==================================*/
/*============Home Page=============*/
/*==================================*/

html,body{
	height: 100%;
	width: 100%;
}

body{
	background-color:#ccc;
	background-image: url("../img/background_texture.png");
	background-repeat: repeat;
}

/*div.page{
	height: 100%;
}*/

.off-canvas-wrap,.inner-wrap{
	height: 100%;
}

nav.tab-bar{
	background-color: rgb(39,77,138);
}

nav.full-nav{
	width: 100%;
	height: 130px;
	background-color: rgb(39,77,138);
	position: relative;
}

ul.navbar{
	margin: 0px;
	padding-top: 50px;
	font-size: 18px;
	/* text-align: center; */
}

ul.navbar-left{
	list-style: none;
	text-align: center;
} 
ul.navbar-left li{
	display: inline;
}


ul.navbar-right{
	list-style: none;  
	text-align: center;
}
ul.navbar-right li{
	display: inline;
}

ul.navbar li:first-child{
	padding-right: 10px;
}
ul.navbar li:last-child{
	padding-left: 10px;
}

ul.navbar a{
	color: #fff;
}

ul.navbar a:hover{
	color: #f39c12;
}



div.img-wrapper{
	height: 30px;
	width: 30px;
	display: inline-block;
	float: left;
}

img.logo{
	margin-top: 13px;
	vertical-align: middle;
}

div.logo-wrapper{
	height: 130px; 
	width: 100px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

img.small-logo{
	height: 100%;
	margin-bottom: 4px;
}

div.page-title{
	background-color: #fff;
	text-align: center;
	height: 100px;
	margin-bottom: 50px;
}

h3{
	padding-top: 5px;
	margin-top: 0px;

	font-family: 'Raleway',sans-serif;
	font-size: 44px;
}

div.class-box{
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
	margin-bottom: 50px;
}

h2.class-title{
	text-align: center;
	color: rgb(39,77,138);
	position: relative;
	margin-bottom: 25px;
}

small.secondary-heading{
	display: block;
	margin-top: 8px;
	font-size: 18px;
	font-style: italic;
}

dl.accordion{
	margin-bottom: 50px;
}

div.border-bottom{
	border-bottom: #f39c12 2px solid;
	width: 25%;
	text-align: center;
	display: block;
	margin: 0px auto;
}


footer.footer { margin-top: 50px; height: 60px; float: left; background-color: #465966; width: 100%; border-top: solid 10px #fff; }
div.copyright h3 { color: #f1f1f1; text-align: left; margin-top: 26px; float: left; font-size: 10px; font-family: Raleway; margin-left: 620px; }
div.copyright { width: 950px; margin: 0 auto; text-align: right; }
img.cdc_logo { margin-top: 12px; }

/*==================================*/
/*============Exercises=============*/
/*==================================*/

div.exercise-wrapper{
    display: inline-block;

    float: left;
    /* padding-left: 25px; */
    padding-right: 5px;
    width: 120px;
}

li.exercise-day{
    list-style: none;

    font-size: 20pt;
}

ul.exercise-list{
    list-style: none;
	display: none;
}

li.exercise:hover{
	color: rgb(39,77,138);
	cursor: pointer;
}

/* make active link blue
li.exercise:active{
	color: rgb(39,77,138);
} */

li.assignment{
    font-style: italic;

}

div.exercise-content{
	background-color: #fff;
}

div.exercise_text{
	display: none;
}

div.active_exercise{
	display: block;
}

div.exercise_box_details{

}

.exercise-container li.exercise-day.active{
	display: block;
}

pre, code {
  font-family: consolas, courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  white-space: pre;
  background-color: #333;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* just in case */
  padding: 1em;
  margin: 1.2em 1em;
  min-width: 50%;
  position: relative;
  overflow-x: scroll; }

pre:before {
  content: "Answer";
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: #333;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* just in case */
  padding: 1em 0;
  text-align: center;
  height: 100%; }
pre.visible:before, pre:hover:before {
  display: none; }

h2{
	font-family: 'Raleway',sans-serif;
}

/*=================================*/
/*=========Resources Page==========*/
/*=================================*/

div.resource-content{
	background-color: #fff;
}

p.resource-section{

}

li.resource-link{

}

.button{
	background-color: gray;
}
.button:hover{
	background-color: rgb(39,77,138);
}

.active-button{
    background-color: #f39c12;

}

#class-btn{
    width: 215px;
}

#general-btn{
    width: 215px;
}

div.button-wrapper{
    margin-left: 5px;
	
}

.class-list{
	display: none;
}

.general-list{
	display: none;
}

.active-list{
	display: block;
}

/*=================================*/
/*=========Screencasts Page==========*/
/*=================================*/

ul.video_nav{

}

li.desktop_video{
    padding-top: 15px;

    list-style: none;
    font-size: 16px;
    line-height: 20px;
}
li.video_nav:hover {
	color: rgb(39,77,138);
	transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; -webkit-transition: all 0.15s ease;
	text-shadow: 1px 1px 1px #E7E7E7;
}

li.active_video { /* color:#f39c12; */ font-weight: 600;}

li.video_link{
	cursor: pointer;
}

div.video_container{
	width: 580px; float: left; 
	text-align: center; padding-top: 15px; padding-bottom: 10px;
}