@CHARSET "ISO-8859-1";


div{background-color:purple;
  border-radius: 5px;
	display: inline-table
	width:20px;
	height:20px;


}




p{  	background-color: red;
	border-radius: 5px;
	display: inline-table
	width:40px;
	height:40px;

}
li{
	background-color: maroon;
}

ol{
	background-color:olive;
	
}